.section
  padding: 0 0 200px
  //height: 400px

.wrapper
  padding: 40px 0
  width: 100%
  //height: 400px
  &:before
    border: 6px solid #ff9d02
    border-bottom: 0
    content: ""
    height: 30px
    left: 0
    margin: 0 auto
    position: absolute
    right: 0
    top: -30px
    width: 91%
    z-index: -1
  &:after
    border: 6px solid #ff9d02
    border-top:  0
    content: ""
    height: 30px
    left: 0
    margin: 0 auto
    position: absolute
    right: 0
    bottom: -30px
    width: 91%
    z-index: -1

.form
  display: flex
  justify-content: space-between
  flex-wrap: wrap


.inputsWrap
  width: 100%
  display: flex
  justify-content: space-between

.stepOne,
.stepTwo,
.stepThree,
.stepFour
  width: calc( 50% - 10px )
  text-align: center
  display: flex
  flex-direction: column
  justify-content: space-between

.labelTitle
  margin: 20px 0 16px
  font-size: 24px
  color: #4241b8
  span
    color: orange

.select,
.number
  width: calc( 50% - 10px )
  margin: 0 0 16px
  font-size: 20px
  border-radius: 8px
  padding: 8px 16px
  border: 2px solid #4241b8
.selectPrice,
.selectExport
  width: 100%

.formText
  margin: 10px 0 18px
  font-size: 20px
  color: #4241b8
.number
  width: 100%
