.title
  margin: 0 0 18px
  font-size: 28px
  color: #5957cd
  text-align: center
  text-transform: uppercase
  &_text_white
    color: #fff
  @media screen and (max-width: 495px)
    font-size: 22px

.divider
  margin: 0 auto 20px
  width: 100px
  border-bottom: 2px solid #4241b8
  &_color_white
    border-bottom: 2px solid #fff
